.header-div {
  /* margin-top: 70px; */
  height: 520px;
  width: 100%;
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 175px 0px 0px 40px;
  margin: 0;
}
